@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.class-forms{
    width: 100%;
    margin: 10px;
}

.form-allignment{
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.option-class {
    clear: none;
    width: 100%;
  }

.div_wrapper{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

.contor-color-style{
    display: inline-block;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}