<div class="header">
  <div class="file-upload-download">
    <label for="avatar" class="custom-file-upload">
      Upload file
      <input #fileInput type="file" id="avatar" accept="image/* | application/pdf" name="photo"
        (change)="onFileChange($event)">
    </label>
  </div>

  <div class="load-box-points">
    <button class="custom-file-upload">Load bounding boxes </button>
  </div>
  <div class="submit-box-details">
    <button class="custom-file-upload" (click)="on_download()">Download</button>
  </div>
</div>

<div class="box_points_container">
  <table class="box_points_table">
    <thead>
      <tr>
        <th>Index</th>
        <th>View</th>
        <th>Delete</th>
        <th>Text input</th>
      </tr>
    </thead>
    <tr *ngFor="let boxes of boudingbox.box_params">
      <td>{{ boxes.index }}</td>
      <td><input type="checkbox" [(ngModel)]="boxes.view" (change)="CheckUncheckView()"><br></td>
      <td><button type="button" (click)="deletebox(boxes.index)">Delete</button></td>
      <td><input type="text" name="firstname" [(ngModel)]="boxes.value"></td>
    </tr>
  </table>
</div>
<canvas #myCanvas id="myCanvas" style="border:1px solid #000000;"></canvas>